.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.jumbotron {
background-image:url(https://www.google.com/imgres?imgurl=https%3A%2F%2Fcdn.pixabay.com%2Fphoto%2F2015%2F04%2F23%2F22%2F00%2Ftree-736885__340.jpg&imgrefurl=https%3A%2F%2Fpixabay.com%2Fimages%2Fsearch%2Fnature%2F&tbnid=_2JirDBiGzi3lM&vet=12ahUKEwiZ5Zfby__qAhU_7DgGHXRpAREQMygBegUIARDQAQ..i&docid=Ba_eiczVaD9-zM&w=546&h=340&q=images&safe=active&ved=2ahUKEwiZ5Zfby__qAhU_7DgGHXRpAREQMygBegUIARDQAQ);
background-repeat:no-repeat,repeat;
background-position-x: center;
background-size: cover;
padding-top:50px;
font-weight: bold;
margin-top: 100px;
margin-bottom: 100px;
padding: 100px;
border-radius: 50px;
box-shadow: 10px 10px 5px 0px;

}